@model RestaurantOrderManagementSystem.Controllers.RoleViewModel

@{
    ViewData["Title"] = "Admin - Edit Role";
}


<div>
    <h2>Edit Role</h2>
    <form asp-controller="Accounts" asp-action="UpdateRole" asp-route-id="@Model.Role.Id" method="post">
        <fieldset>
            <partial name="Role/_UserRoleForm" model="@Model"/>
            <br/>
            <div class="Div">
                <a class="LinkButton Button OkayButton" href="javascript:$('form').submit()">Save Role Changes</a>
                <a class="LinkButton Button ErrorButton" asp-controller="Accounts" asp-action="RoleDashboard">Back</a>
            </div>
        </fieldset>
    </form>
</div>

