@model Table

<legend>Table Form</legend>
<div id="Form-Div" class="Div">
    <label id="NameL" class="Label" asp-for="Name">Name:</label>
    <input id="Name" class="TextBox Input" type="text" asp-for="Name">
    
    <label id="SeatsL" class="Label" asp-for="NumberOfSeats">No. Seats: </label>
    <input id="Seats" class="TextBox Input" type="number" asp-for="NumberOfSeats">
    
    <label id="WidthL" class="Label" asp-for="Width">Width:</label>
    <input id="Width" class="TextBox Input"  type="number" asp-for="Width">
    
    <label id="HeightL" class="Label" asp-for="Height">Height:</label>
    <input id="Height" class="TextBox Input" type="number" asp-for="Height">
    
    <label id="XL" class="Label" asp-for="X">X:</label>
    <input id="X" class="TextBox Input" type="number" asp-for="X">
    
    <label id="YL" class="Label" asp-for="Y">Y:</label>
    <input id="Y" class="TextBox Input" type="number" asp-for="Y">
    
    <label id="StyleL" class="Label" asp-for="Style">Style:</label>
    <input id="Style" class="TextBox Input" type="text" asp-for="Style">
</div>