@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" xmlns="http://www.w3.org/1999/html">
    <h1 class="display-4">A Generic Restaruant</h1>
    <p>Welcome to some generic restaruant meant to represent an actual establishment.</p>
</div>