@model List<MenuItem>

<table class="Table">
    <tr class="TableHeader">
        <th class="Column_Image"></th>
        <th class="Column_Name">Name</th>
        <th class="Column">Quantity</th>
        <th class="Column">Price</th>
    </tr>
    @foreach (MenuItem item in Model)
    {
        <tr onclick="OpenMenuItemOptionPanel('@item.Id')">
            <td class="Column_Image"><img alt="" src="/@(item.ImagePath ?? "favicon.ico")"/></td>
            <td class="Column_Name">@item.Name</td>
            <td class="Column">@item.Quantity</td>
            <td class="Column">@item.Price KES</td>
        </tr>
    }
</table>
<div class="XButton CloseButton" onclick="CloseEveryForm()"></div>