@model RestaurantOrderManagementSystem.Controllers.MenuViewModel
<div class="MenuItem-Form">
    <h2>New Menu Item</h2>
    <form asp-controller="MenuItem" asp-action="CreateMenuItem" METHOD="post" enctype="multipart/form-data">
        <fieldset>
            <partial name="Menu/_MenuItemForm" model="@Model"/>
            <br/>
            <div class="MainDiv" style="width: max-content">
                <a class="OkayButton LinkButton Button" href="javascript:$('form').submit()">Create</a>
                <a class="ErrorButton LinkButton Button" asp-controller="Admin" asp-action="MenuItemDashBoard">Cancel</a>
            </div>
        </fieldset>
    </form>
</div>